MCSM_SECRET_KEY=please-change-this-secret
MCSM_DATABASE_URL=
MCSM_INITIAL_SUPERADMIN_USERNAME=admin
MCSM_INITIAL_SUPERADMIN_PASSWORD=admin123!
MCSM_SCHEDULER_TIMEZONE=Europe/Berlin
MCSM_INGAME_RESTART_DELAY_SECONDS=30
MCSM_INGAME_RESTART_WARNING_MESSAGE=Server restartet in {seconds} Sekunden aufgrund /restart.
MCSM_PROVISIONING_OFFLINE_MODE=false
